// shawnrieger.com/sass

$flower: 'Indie Flower', cursive
$roboto: 'Roboto', sans-serif

@media (min-width: 1200px)
  .container
    width: 970px

body
  font-family: $roboto
  font-size: 15px

header
  width: 100%
  height: 100px
  position: fixed
  z-index: 1000
  text-transform: capitalize
  background-color: white
  -webkit-box-shadow: 3px 3px 21px 0px rgba(0, 0, 0, 0.2)
  box-shadow: 3px 3px 21px 0px rgba(0, 0, 0, 0.2)
  h1
    font-family: $flower
    font-size: 30px
  nav
    font-family: $roboto

.me-background
  position: fixed
  margin-top: 100px
  width: 100%
  height: 500px
  background-image: url("../img/me-full.jpg")
  background-position: 50% 0
  background-size: cover

.work-header
  width: 100%
  height: 500px
  background-image: url("../img/boxee-full.jpg")
  background-position: 50% 0
  background-size: cover

#main
  top: 600px
  position: relative
  background-color: white

#about
  text-align: justify

section > div
  max-width: 800px
  margin: 0 auto
  padding: 40px

h3
  margin-bottom: 20px
  font-family: $flower
  text-transform: lowercase
