// main.scss
@import "mixins";
@import "partials/_basics";
@import "partials/_nav";
@import "partials/_photogrid";
@import "partials/_resume";
@import "partials/_footer";
@import "partials/_lightbox";

section {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 50px;
  .header-image {
    width: 100%;
    height: 450px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content {
    padding: 15px 40px;
    @media screen and (max-width: 425px) { padding: 10px 20px; }
    background-color: $white;
  }
}

.navbar, .footer {
  .content {
    margin: 0 auto;
    max-width: 1024px;
  }
}

#about .header-image {
  background-image: url("../img/sections/about.jpg"); }
#work .header-image {
  background-image: url("../img/sections/work.jpg");
  background-position: left top; }
#portfolio .header-image {
  background-image: url("../img/sections/portfolio.jpg");
  background-position: left top; }
#photography .header-image {
  background-image: url("../img/photography/large/20140404123054_l.jpg");
  background-position: center center; }

.image-group {
  li { padding: 13px; }
  img {
    max-width: 110px;
    max-height: 50px;
  }
}
