$white: #fff;
$black: #111;
$blue: #255c8c;
$nav-hover: #f5f5f5;

$flower: 'Indie Flower', cursive;
$roboto: 'Roboto', sans-serif;

section > div > h3:nth-child(1) {
  // font-size: 28px;
  margin-bottom: 20px;
  font-family: $flower;
  text-transform: capitalize;
}

body {
  font-size: 15px;
  font-family: $roboto;
  background-color: #eaeaea;
}
