#lightbox {
  background-color: #111;
  display: none;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
  position: fixed;
  // transition: opacity .25s ease-in-out;
  z-index: 9999;
  vertical-align: middle;
  .help {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  img {
    box-shadow: 0 0 25px #000;
    height: auto;
    width: auto;
    max-width: 99%;
    max-height: 99%;
  }
}

.gallery-item {
  cursor: zoom-in !important;
}
