#lightbox {
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
  position: fixed;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  z-index: 9999;
  vertical-align: middle;
  .help {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  img {
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
    max-width: 95%;
    max-height: 95%;
  }
}
