.navbar {
  background-color: $white;
  .content {
    margin: 0 auto;
    max-width: 1024px;
  }
  .navbar-brand {
    color: $black;
    font-family: $flower;
    text-transform: uppercase;
    line-height: 23px;
  }
}

.navbar-fixed-top {
  box-shadow: 1px 1px 15px rgba(0,0,0,.2);
}

.navbar-nav a {
  color: $black;
  &:focus, &:hover {
    background-color: $nav-hover; }
}

.navbar-toggle {
  background-color: $white;
  &:focus,&:hover {
    background-color: $nav-hover
  }
  .icon-bar {
    background-color: $black;
  }
}
