.navbar {
  background-color: $white;
  border: none;
  .navbar-brand {
    font-size: 1.2em;
    color: $black;
    font-family: $_font_heading;
    text-transform: uppercase;
    line-height: 23px;
  }
}

.navbar-fixed-top {
  box-shadow: 1px 1px 15px rgba(0,0,0,.2);
}

.navbar-nav a {
  color: $black;
  &:focus, &:hover {
    background-color: $nav-hover; }
}

.navbar-toggle {
  background-color: $white;
  &:focus,&:hover {
    background-color: $nav-hover
  }
  .icon-bar {
    background-color: $black;
  }
}
