
//
// PARALLAX
//
.parallax {
  width: 100%;
  height: 450px;
  &.about {
    background-image: url("../img/parallax/me.jpg"); }
  &.work {
    background-image: url("../img/parallax/boxee-box.jpg"); }
  &.portfolio {
    background-image: url("../img/parallax/revision3.jpg"); }
  &.photography {
    background-image: url("../img/photography/large/20140404123054_l.jpg"); }
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @media screen and (max-width: 752px) {
    background-attachment: local; }
  background-size: cover;
}
