$margin-spacing: 1.5%;

.photo-group {
  margin-left: $margin-spacing;
  .grid-sizer {
    @include grid-spacing(3, $margin-spacing);
    @media screen and (max-width: 768px) {
      @include grid-spacing(2, $margin-spacing); }
    float: left;
    opacity: .8;
    transition: opacity .25s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  .btn {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
