$margin-spacing: 1%;

.photo-group {
  margin-left: $margin-spacing;
  .grid-sizer {
    box-sizing: border-box;
    float: left;
    opacity: .8;
    transition: opacity .25s ease-in-out;
    // use our grid-spacing mixin to calculate widths
    @include grid-spacing(2, $margin-spacing);
    @media screen and (min-width: 768px) {
      @include grid-spacing(3, $margin-spacing);
    }
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.load-photos {
  margin-top: 20px;
  margin-bottom: 10px;
}
