.resume {
  font-size: 16px;
  font-family: $_font_resume;
  hr:first-of-type {
    margin-top: 12px;
  }
  ul {
    margin-bottom: 15px;
  }
}

.resume-header {
  font-size: 20px;
  font-weight: bold;
  font-family: $_font_resume;
}

.resume-job-title {
  font: bold 15px $_font_resume;
  margin: 10px 0 5px 23px;
}

.resume-download-btn {
  margin-top: 15px;
  font-family: $_font_body;
}
